---
layout: page
title: "About"
description: "Hey, this is Manlin."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 英文 English </option>
    <option value="1" > 中文 Chinese </option>
    
</select>



<!-- English Version -->
<div class="en post-container">
    <blockquote><p>BE A LIFE-LONG LEARNER <br>
    </p></blockquote>

    <p>Hi, I am <strong>Manlin Cai</strong>, a <strong>Quantitative Analysis</strong> and <strong>Life-long learner</strong>. Currently I live in Chicago.</p>

    <p>I like watching movies, reading books, shopping and eating delicious food. You can know more about me through 👉 <a href="https://www.linkedin.com/in/mcai823/">LinkedIn</a>  or 👉 <a href="https://www.instagram.com/linmccc/?hl=en">Instagram</a>.</p>
    
    <p>I'm a graduate student at Harrisburg University. Previously worked as a Quantitative analyst and Trader at Icarus Trading.
        With majoys in Electrical Engineering, Finance and Mathematics, I have developed analytical skill in finding the patterns behind data. I like quantitative trading, and I read a lot of books and papers in these two years. Recently I want to take some time to organize my knowledge.</p>
    <p>Hopefully I'll have 3 series of blog posts:
    <p>The first one will be some statistic methods and optimization tools I saw people are using in quantitatice research;
    <p>The second one will include some backtesting results and some strategies composed by the methods I mentioned in the first part;
    <p>The last one will be about machine learning. I've used it to forecast electricity loads a few years ago when I studied Electrical Engineering. Although in financial market, a stock's price move is much more complicated than the electricity's move, machine learning still has a lot of potential to be used in trading. Like people are using SVM to recognize the pattern and using AI to build the AIEQ(NYSE).
   
</div>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>积土成山，<br>
    非斯须之作</p></blockquote>

    <p>你好，我叫<strong>蔡漫琳</strong></p>

    <p>想用这个blog来写写回测结果</p>

    <p>当作个笔记，分享一些交易策略</p>

    <p></p>
    
   
</div>




<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $en = document.querySelector(".en");
    var $zh = document.querySelector(".zh");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 0;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 1;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#en"
        }else{
            window.location.hash = "#ch"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "qiubaiying" %}
        data-thread-id="0ee040117ec56f17aa7e2523d1eae19b"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
